<!DOCTYPE html>
<html>
<title>iris ML</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  </style>
  <body></body>
<div class="w3-container w3-center">


    <h1>Prediction Iris Dataset</h1>
    <form action="/predict/">
    <table>
      <tr>
        <th>Sepal Length</th>
        <th>Sepal Width</th>
        <th>Petal Length</th>
        <th>Petal Width</th>
      </tr>
      <tr>
        <td><input type="number" name="L1" value="1.2" min="0" max= "10" step="any"></td>
        <td><input type="number" name="W1" value="1.2" min="0" max= "10" step="any"></td>
        <td><input type="number" name="L2" value="1.2" min="0" max= "10" step="any"></td>
        <td><input type="number" name="W2" value="1.2" min="0" max= "10" step="any"></td>
      </tr>
    
    </table>
    <br>
    <input type="submit" value="PREDICT!">
    </form>
    
    <p>If you click the "PREDICT!" button, the form-data will be sent to a page called "/predict".</p>
    
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    
    
    


</div>

</body>
</html>
